@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

*{
  margin: 0px;
  padding: 0px;
  font-family: Manrope;
}

.out-container{
  height: 100vh;
  width: 100vw;
  background-color: rgb(204, 229, 245);
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-container, #left-container{
  
  width: 55vw;
  height: 90vh;
  box-shadow: 3px 2px rgb(86, 86, 86);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: url('../public/morning.jpg'); */
  background-size: cover;
  background-position: center;
  position: relative;
  isolation: isolate;
}
.left-container::after{
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  opacity: 0.6;
 background-color: black;
  
 
}

.right-container{
  background-color: rgb(229, 154, 48);
  height: 80vh;
  /* width: 20vw; */
  margin-left: 4px solid white;
}
.search-container{
  display: flex;
  justify-content: center;
  align-items: center;

}
.search-box{
  width: 250px;
  height: 30px;
  padding: 3px 10px;
  border-radius: 20px;
  font-size: 18px;
}
.btn{
 
  /* background-color: rgb(48, 144, 229); */
  border: 0px;
}
.btn:hover{
  cursor: pointer;
}
.outer-data{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 55vh;
  /* background-color: rgb(48, 144, 229); */
  color: white;
}
.data-weather{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.data-temp{
  
  width: 20vw;
  text-align: center;
}
.temp{
  font-size: 90px;
}
.data-icon{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.date-time{
  display: flex;
  justify-content:center;
  flex-direction: column;
  margin-left: 10px;
  color: white
  
}
.date{
  font-size: 40px;

}
.time{
  font-size: 25px;
}
.data{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 25vh;
}
.humidity-pressure,.wind-data{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15vw;
  height: 40vh;
  font-size: 18px;
}
.data-humidity,.data-pressure, .data-speed, .data-direction{
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
}
i{
  height: 18px;
  width: 18px;
  margin: 5px 5px;
}
.icon-desc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}